@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: AntonSC;
  src: url('../public/fonts/Anton_SC/AntonSC-Regular.ttf');
}
@font-face {
  font-family: Anton;
  src: url('../public/fonts/Anton/Anton-Regular.ttf');
}

@font-face {
  font-family: LatoRegular;
  src: url('../public/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: LatoLight;
  src: url('../public/fonts/Lato/Lato-Light.ttf');
}


@font-face {
  font-family: LatoBold;
  src: url('../public/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: RobotoRegular;
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: RobotoMedium;
  src: url('../public/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: RobotoBold;
  src: url('../public/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: RobotoLight;
  src: url('../public/fonts/Roboto/Roboto-Light.ttf');
}



body {
  color: white;
  scrollbar-width: 0;
}
 .scroller-container {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 5px;
  height: 200px;
  background-color: black;
  border-radius: 10px;
}

.scroller {
  width: 100%;
  background-color: white;
  height: 40px;
  position: relative;
  transition: transform 0.1s ease-out;
  border-radius: 10px;
  cursor: pointer; 
}

::-webkit-scrollbar {
  width: 0px;
}

.rotate-text {
  transform-origin: center;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

