 .button {
  min-height: 50px;
  max-width: 280px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ffffff;
  overflow: hidden;
  border-radius: 50px;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 50px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #000000;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}
